node_modules/
dataset/
data/
.env
*.tsv
*.json
!client/package.json
!client/package-lock.json
node_modules
dataset
dist
!dataset/
!dataset/raw/
!dataset/processed/
dataset/raw/*
dataset/processed/*
!dataset/raw/.gitkeep
!dataset/processed/.gitkeep
!dataset/processed/artistTags.json
!dataset/processed/artistSegments.json
